/* Avatar container (either image or letter) */
.profile-avatar {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

/* Image inside avatar */
.profile-avatar-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important;
  box-shadow: none !important;
  color:gray;
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* light gray or custom */
}
