body, html {
    overflow-x: hidden;
}
.navbar-nav .nav-item {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.navbar-nav .btn {
    margin: 0 auto; 
}
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; 
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px; 
    }
    
    .navbar-nav .nav-link {
        background-color: #1a4654;
        color: white;
        padding: 10px;
        text-align: center;
    }
}
.nav-link.active {
    color: #fff !important;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}
