:root {
  --primary-color: #051821;
  --secondary-color: #f58800;
  --background-color: #266867;
  --hover-bg-color: #2a6f6e;
  --text-color: white;
  --hover-text-color: #3b9a89;
}
*{
  font-family: sans-serif;
}
.info-btn {
  height: 2.2rem;
  width: 4.8rem;
  font-size: 14px;
  padding: 0 10px;
}
#see-more-btn {
  background-color: var(--text-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}
#see-more-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
#get-started-btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-color: var(--primary-color);
}
.page2 {
  /* background: linear-gradient(to bottom, 135deg, var(--hover-bg-color), var(--hover-text-color)); */
  background-color: var(--background-color);
  color: var(--text-color);
}
.card {
  transform: scale(1);
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.service-btns {
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: all ease-in 0.5s;
}
.service-btns:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.icons {
  margin-bottom: 15px;
}
.page3 {
  margin: 6rem 4rem;
}
.roleSelect-btn {
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--text-color);
}
.roleSelect-btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

